# Part 1

The file "Purchase_Data.csv" contains purchase data at a Chinese supermarket for various products.  Read this csv into a dataframe called df_data and use the head() method to check that you have read in the data correctly. Make sure you import pandas.

In [33]:

import pandas as pd

df_data = pd.read_csv("Purchase_Data.csv")

df_data.head()

Use the dtypes attribute to view how each column is stored

In [34]:
df_data.dtypes

Slice the first two columns using .loc and store the result in a variable called result_1.

In [35]:
result_1 = df_data.loc[:, :'invoice_time']
result_1

Slice the first two rows using .loc and store the result in a variable called result_2.

In [36]:
result_2 = df_data.loc[:1]


result_2

Slice the first four rows and the first five columns and store the result in a variable called result_3.

In [37]:
result_3 = df_data.loc[:3, :'category_id']


result_3

Slice rows 0,4,6 and columns invoice time and price and store the result in variable called result_4.

In [38]:
result_4 = df_data.loc[[0, 4, 6], ['invoice_time', 'price']]


result_4

Store the number rows in a variable called num_rows.

In [ ]:
num_rows = df_data.shape[0]

Print out the last row of the data to dataframe. **Hint:** use the variable num_rows from the previous exercise.

In [39]:
num_rows

# Part 2

Compute the average and max price charged.  Store the results in variables called avg_price and max_price

In [1]:
avg_price = df_data['price'].mean()

max_price = df_data['price'].max()

Compute the average price and average number of items purchased with only a single call to the mean() method. Store these averages in avg_price and avg_num_items.

In [2]:
avg_price, avg_num_items = df_data[['price', 'num_item']].mean()


avg_price, avg_num_items

Create a column called "total", which is the product of the price and num_item columns.

In [3]:
df_data['total'] = df_data['price'] * df_data['num_item']


df_data.head()

What is the avgerage price of the three most expensive purchases?

In [4]:
sorted_df = df_data.sort_values(by='total', ascending=False)

top_three_expensive = sorted_df.head(3)

avg_price_top_three = top_three_expensive['total'].mean()

avg_price_top_three

How many different products are there?

In [5]:
num_products = df_data['product_id'].nunique()

num_products

Find the difference between the mean and median of the column total.  Use the describe() method and then index the dataframe it returns.

In [6]:

total_stats = df_data['total'].describe()

mean_total = total_stats['mean']
median_total = total_stats['50%'] 


difference_mean_median = mean_total - median_total

difference_mean_median

Use the drop() method to delete the column total from the dataframe df_data.

In [8]:
df_data.drop(columns=['total'], inplace=True)


df_data.head()

Let's dig a little deeper into the data set and answer some basic question.

In [1]:
#Write your code here

First, covert the column invoice time to a datetime column. Print out the new column types to make sure this was done correctly

In [36]:
df_data['invoice_time'] = pd.to_datetime(df_data['invoice_time'])


df_data.dtypes

Next, let's create columns called "DOW" and "Month", which store the corresponding weekday and month of the invoice respectively.  Print the head of the dataframe to make sure this was done correctly.

In [2]:
df_data['DOW'] = df_data['invoice_time'].dt.day_name()


df_data['Month'] = df_data['invoice_time'].dt.month_name()


df_data.head()

Create a variable called num_purchases_wed, which stores the number of purchases made on Wednesday?  You should use value_counts and then index the series it return.

In [3]:
weekday_counts = df_data['DOW'].value_counts()


num_purchases_wed = weekday_counts['Wednesday']


num_purchases_wed

# Part 3

In this set of practice exercises, we will be working with a demographic data regarding the passengers aboard the Titanic.  Read in the data frame and use the head() method to check that it was read in correctly.

In [4]:
import pandas as pd

df_titanic = pd.read_csv("titanic.csv")


print(df_titanic.head())

Use the rename method to change the column "Name" to "Passenger_Name" and the column "Ticket" to "Ticket_Num".

In [5]:
df_titanic.rename(columns={'Name': 'Passenger_Name', 'Ticket': 'Ticket_Num'}, inplace=True)

Change the index of the df_titanic to the column PasengerID.

In [6]:
df_titanic.set_index('PassengerID', inplace=True)

Select the name of passenger 896

In [7]:
passenger_896_name = df_titanic.loc[896, 'Passenger_Name']


passenger_896_name

Change the index back to row numbers but making sure that we don't lose the PassengerId column.

In [8]:
df_titanic.reset_index(inplace=True)

How many missing entries are there in the Age column? Use the isnull() method and recall than Booleans are exactly like 1s (True) and 0s (False).

In [9]:
missing_age_count = df_titanic['Age'].isnull().sum()

missing_age_count

Compute the avg age of passengers ignoring the missing data.

In [10]:
avg_age = df_titanic['Age'].mean(skipna=True)


avg_age

Using the fillna() method replace the missing values in the Age column with the mean.

In [11]:
mean_age = df_titanic['Age'].mean()


df_titanic['Age'].fillna(mean_age, inplace=True)

What is the average age of the 5 oldest passengers? The reset_index method will be helpful here.

In [12]:
sorted_df = df_titanic.sort_values(by='Age', ascending=False)

oldest_passengers = sorted_df.head(5)

avg_age_oldest = oldest_passengers['Age'].mean()

avg_age_oldest